<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Played At</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <!--
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>17:00</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>17:23</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>18:00</td>
        <td>100</td>
      </tr>
    </tbody>
  </table>
  <p> -->
<!--
  <p><button type="button" class="btn btn-dark btn-lg" [routerLink]="['/score']">Dare to play AGAIN!!!</button></p>
-->
<tbody *ngFor = "let point of response; index as i;" >
  <tr>
    <td>{{ i+1 }}</td>
    <td>{{ point.time }}</td>
    <td>{{ point.score }}</td>
  </tr>
</tbody>
</table>